%h0.text-center
  = @workout.distance.to_s + ' ' + t('workout.miles', count: @workout.distance)
  - if !@workout.completed?
    = form_for @workout do |w|
      = w.hidden_field :completed_at, value: DateTime.now
      = w.submit 'Completed?', class: 'btn btn-xl btn-success'
  - else
    Completed!
.span
  %h25.text-center
    = @workout.scheduled_at.to_date
.span
  %h15.text-center
    Total Run:
    = @worked_out_distance
.span
  %h15.text-center
    Total Miles:
    = @workouts_distance
.span
  %h25.text-center
    Percentage Complete:
    = "#{((@worked_out_distance / @workouts_distance.to_f) * 100).round(2)}%"

.span
  - if @prev
    = link_to "Prev", @prev, class: 'btn btn-lg btn-default pull-left mar-left'
  - else
    = content_tag :span, "Prev", class: 'btn btn-lg btn-default pull-left mar-left'
  - if @next
    = link_to "Next", @next, class: 'btn btn-lg btn-default pull-right mar-right'
  - else
    = content_tag :span, "Next", class: 'btn btn-lg btn-default pull-right mar-right'