%h0.text-center
  - if !@workout.completed?
    = form_for @workout do |w|
      = w.hidden_field :completed_at, value: DateTime.now
      = w.number_field :miles_run, value: @workout.miles_scheduled, step: 0.01, min: 0
      %miles
        Miles
      = w.submit 'Completed?', class: 'btn btn-xl btn-success'
  - else
    = @workout.miles_run.to_s + ' ' + t('workout.miles', count: @workout.miles_run)
    Completed!
.span
  %h25.text-center
    = @workout.scheduled_at
.span
  %h25.text-center
    Completed:
    %h35
      = "#{((@worked_out_distance / @workouts_distance.to_f) * 100).round(2)}% (#{@worked_out_distance} / #{@workouts_distance})"

.span
  - if @prev
    = link_to "Prev", @prev, class: 'btn btn-lg btn-default pull-left'
  - else
    = content_tag :span, "Prev", class: 'btn btn-lg btn-default pull-left'
  - if @next
    = link_to "Next", @next, class: 'btn btn-lg btn-default pull-right'
  - else
    = content_tag :span, "Next", class: 'btn btn-lg btn-default pull-right'